<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>EDITAR EL ARTICULO</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            min-height: 100%;
            overflow-x: hidden;
        }
    </style>
</head>



<body>


<br>

<div class="container">

    <h3 align="center">
        <img th:src="@{/images/profile_200px.png}"
             class="d-inline-block align-text-top" width="40" height="40"
             alt="icon"> ARTICULOS
    </h3>
    <h4  align="center" ><a th:href="@{/articulos/list}" class="btn btn-warning btn-sm mb-3 d-inline-block align-text-top">ATRAS</a> </h4>

    <hr>

    <p class="h4 mb-4">ACTUALIZACION DE LOS ARTICULOS</p>

    <form action="#" th:action="@{/articulos/update}"
          th:object="${articulo}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id_articulo}" class="form-control mb-2 col-4"  placeholder="ID Articulo"/>
        <input type="text" th:field="*{codigoA}" class="form-control mb-2 col-4"  placeholder="Codigo Articulo"  required/>
        <input type="text" th:field="*{nombre_articulo}" class="form-control mb-2 col-4"  placeholder="Nombre Articulo" required>
        <input type="text" th:field="*{stock_actual}" class="form-control mb-2 col-4"  placeholder="Stock Actual" required pattern="\d+" title="Por favor, ingrese solo números positivos en el código" >
        <input type="text" th:field="*{stock_minimo}" class="form-control mb-2 col-4" placeholder="Stock Minimo"  required pattern="\d+" title="Por favor, ingrese solo números positivos en el código">
        <input type="text" th:field="*{stock_maximo}" class="form-control mb-2 col-4"  placeholder="Stock Maximo" required pattern="\d+" title="Por favor, ingrese solo números positivos en el código">
        <input type="text" th:field="*{clasificacion}" class="form-control mb-2 col-4"  placeholder="Clasificacion" required>
        <input type="text" th:field="*{costo_promedio}" class="form-control mb-2 col-4"  placeholder="Costo Promedio" required pattern="\d+" title="Por favor, ingrese solo números positivos en el código">
        <div class="form-group">
            <label >Seleccionar la Bodega:</label>
            <select th:field="*{bodegas.codigo_bodega}" class="form-control" required>
                <option th:each="bodega : ${allBodegas}" th:value="${bodega.codigo_bodega}" th:text="${bodega.nombre}"></option>
            </select>
        </div>


        <button type="submit" class="btn btn-success mb-2 col-2">GUARDAR</button>
    </form>
    <a th:href="@{/articulos/list}" class="btn btn-warning mb-2 col-2">ATRAS
    </a>
</div>
</body>
</html>